# MongoDB Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio?retryWrites=true&w=majority

# Port
PORT=5000

# Admin Protection (same as frontend)
ADMIN_TOKEN=your_super_secret_admin_token_here

# Email (Resend)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
OWNER_EMAIL=aarav.sharma.dev@gmail.com

# CORS - allow your frontend origin (in production put your deployed frontend URL)
ALLOWED_ORIGIN=http://localhost:3000
